@media screen and (max-width: 1390px) {
    .slider-template {
     
        .slick-arrow {
        
    
            &.slick-prev {
                left: -60px;
            
            }
    
            &.slick-next {
                    right: -60px;
            }
    
        }
    }
}
@media screen and (max-width:  1310px) {
    .slider-template {
        max-width: 750px;
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 890px) {
    .slider-template {
        max-width: 390px;
    }
    
}

 



@media screen and (max-width: 1199px) {
    .calculation__img {
        width: 30vw;
    }
}
