@media screen and (max-width: 575px) {}

@media screen and (max-width: 530px) {
    .slider-template {
        .slick-list {
            margin-bottom: 31px;
        }

    }

    .slide-box {
        margin: 0 auto;
    }

    .slide-img-box {
        img {
            min-height: 230px;
        }
    }

    .slide-buttons {
        .btn {
            padding: 13px 5px;
        }
    }
}
