@media screen and (max-width: 991px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar {
        padding-top: 16px;
        padding-bottom: 18px;
        &-brand {
   
            img {
              max-width: 126px;
          }
        }
    }
}


