@media screen and (max-width: 991px) {
    section {
        margin-bottom: $section-margin;
        &.container-fluid {
           padding: 55px 20px 60px;
           position: relative;
   
           &:before {
                left: 0;
                right: 0;
           }

           > .container {
            padding-left: 0;
            padding-right: 0;
        }
       }
    }
    


    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    .navbar {
        padding-top: 16px;
        padding-bottom: 18px;

        &-brand {

            img {
                max-width: 126px;
            }
        }

        &-collapse {
            display: flex;
            flex-direction: column;
            background-color: $bg-secondary;
            margin: 0 -20px;
            padding: 0 40px;
            transform: translate(0, 15px);
        }

        &-nav {
            padding: 37px 0 23px;

            a {
                padding: 0 0 11px;
                font-size: 24px;
                line-height: 222%;
            }
        }

        .btn {
            padding: 22px 26px;
            margin: 0 auto 60px;
            width: 100%;
            max-width: 295px;
            justify-content: center;
        }

    }

    .first-screen {
        .container {
            padding: 0 28px;
            text-align: center;
            z-index: 1;
        }

        .container-xxl {
            min-height: calc(100vh - 74px);
            position: relative;
           
             &::after {
                content: "";
                position: absolute;
                background: #0000008a;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
             }
        }

        &-slider__title {
            font-size: 32px;
            margin-bottom: 10px;
        }

        &-slider__subtitle {
            font-size: 16px;
            margin-bottom: 18px;
        }
        
        .btn-lg{
            white-space: nowrap;
            
            .icon {
                margin: 0 -14px 0 35px;
            }
        }
    } 

    .calculation__img-box {
        display: none;
    } 

    .template-title{
        margin-bottom: 35px;
     
        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 124.5%;
        }
        &.col-lg-7.text-left {
            text-align: center;
            h2{
                &:after {
                   display: none;
               }

            }

            &:after {
                left: 50%;
                top: calc(100% - 2px);
                transform: translate(-50%, 0);
                display: block;
            }
        }
    }

    .advantages {
        .slick-slider {
            padding-top: 10px;
        }
        .slick-dots {
            margin-bottom: 60px;
        }
    }

    .advantage {
        padding: 0 20px;
        margin-bottom: 25px;
    }
}
