@media (min-width: 992px) {
    section {
        padding-right: 40px;
        padding-left: 40px;
    }
    .first-screen{

        .container-xxl {
            border-radius: 20px;
            padding: 0 92px;
        }
        &-slider__title {
            max-width: 473px;
        }
    
        &-slider__subtitle {
            max-width: 345px;
        }
    } 

    .template-title {
      
        /*type 2*/
        &.text-left,
        &.col-lg-7 {
            text-align: left;
    
            &:after {
                left: 0;
                transform: none;
            }
        }
    
       
    }
}
