.calculation {
    .container {
        position: relative; 
    }
    &__img-box {
        position: absolute;
        bottom: -100px;
        right: -17px;
    }

    &__img {
        max-width: 560px;
        width: 36vw;
    }

}

.calculation-form {
    max-width: 626px;
    width: 100%;
    background-color: $bg-secondary;
    border-radius: 20px;
    padding: 50px 35px 42px;
    margin-left: 15px;

  

    .input-box {
        margin: 0 15px 20px;

        &.has-checkbox {
            margin-bottom: 8px;

            label {
                display: flex;
                align-items: center;
            }
        }
    }
    
    [type="file"] {
        display: none;
    }

    #file-name {
        margin: 15px 0 12px;
        font-size: 15px;
        line-height: 126%;
    }

    [for="myfile"] {
        border-radius: 10px;
        border: 1px dashed #ffffff42;
        text-align: center;
        padding: 11px;
        cursor: pointer;
        transition: .2s;
        &:hover {
            color: $color-secondary;
            border-color: $color-secondary;

        }
    }

    .btn {
        max-width: 251px;
        padding: 19.6px 29px;
    }

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}