@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}