.navbar {
    padding-top: 25px;
    padding-bottom: 39px;

    &-brand {
        padding-top: 0;
        padding-bottom: 0;
    }
 
    &-nav {
        margin: 0 auto;

        flex-direction: row;
        max-width: 647px;
        width: 100%;
        justify-content: space-around;
        padding-top: 5px;

        a {
            color: #fff;

            &:hover {
                color: $color-secondary
            }
        }

    }

    .btn {
        padding: 13px 26px;
        margin-left: 16px;
        letter-spacing: 0;
        white-space: nowrap;
    }


    &-nav {
        flex-direction: column;
        align-items: center;
    }
}

.navbar-toggler {
    width: 40px;
    height: 40px;
    border-radius: 0;

    position: relative;

    &:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        width: 27.5px;
        height: 2.5px;
        background-color: #fff;
        position: absolute;
        left: 11px;
        top: 19px;
		transition: .3s;
        &:after,
        &:before {
            content: "";
            width: 27.5px;
            height: 2.5px;
            background-color: #fff;
            display: inline-block;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: -11px;
			transition: .3s;
        }

        &::before {
            top: initial;
            bottom: -11px;
        }
    }

    &[aria-expanded="false"] {
        /*закрыт*/
    }

    &[aria-expanded="true"] {

        /*открыт*/
        .navbar-toggler-icon {
            background-color: transparent;

            &::after {
                transform: translate(-14px, 11px) rotate(-45deg)
            }

            &::before {
                transform: translate(-14px, -11px) rotate(45deg)
            }
        }
    }
}
