<section class="advantages container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div id="advantages-slider" class="row">
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantage-1.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Таможенное <br> оформление груза</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantage-2.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Страховка груза</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantage-3.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Проверка товара
                        на брак
                        </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantage-4.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Доставка
                        в любой город Украины</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantage-5.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Консолидация
                        на складе
                        </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantage-6.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Ответственное
                        хранение груза
                        </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantage-7.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Помощь в
                        оплате товара
                        </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantage-8.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Упаковка, переупаковка, паллетирование груза к международной перевозке</h4>
                </div>
            </div>
        </div>
    </div>
</section>
