<section class="first-screen">
    <div class="first-screen-slider">
        <div class="container-xxl"  style="background-image: url(assets/img/first-screen-1.png);">
            <div class="container">
                <div class="first-screen-slider__title">Прямое КАРГО из Китая</div>
                <div class="first-screen-slider__subtitle">Доставляем любые грузы из Китая по честной цене</div>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div class="container-xxl"  style="background-image: url(assets/img/first-screen-2.png);">
            <div class="container">
                <div class="first-screen-slider__title">ПВыкуп товара с ТаоБао, 1688</div>
                <div class="first-screen-slider__subtitle">Выкуп и доставка товаров с китайских торговых площадок.</div>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div class="container-xxl"  style="background-image: url(assets/img/first-screen-3.png);">
            <div class="container">
                <div class="first-screen-slider__title">Экспресс авто доставка</div>
                <div class="first-screen-slider__subtitle">Доставка автотранспортом из Китая в Украину от 15 дней, от $0,5/кг</div>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div class="container-xxl"  style="background-image: url(assets/img/first-screen-4.png);">
            <div class="container">
                <div class="first-screen-slider__title">Прямое КАРГО из Китая</div>
                <div class="first-screen-slider__subtitle">Доставляем любые грузы из Китая по честной цене</div>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
    </div>
    <div class="first-screen-slider__arrows"></div>
</section>
