<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#363A4D">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>MasterTAO</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<a href="markap.html" class="delete" style="position: fixed;bottom: 16px;left: 28px;">markap</a>
 