<section class="services container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
            
        </div>
        <div class="slider-template">
            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/slide-services-1.png" class="img-fluid" alt="services-variant">
                    </div>
                    <h5 class="slide-title">Выкуп товара</h5>
                    <div class="slide-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </div>
                    <div class="slide-buttons">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/slide-services-2.png" class="img-fluid" alt="services-variant">
                    </div>
                    <h5 class="slide-title">Страховка груза</h5>
                    <div class="slide-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </div>
                    <div class="slide-buttons">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/slide-services-3.png" class="img-fluid" alt="services-variant">
                    </div>
                    <h5 class="slide-title">Аренда склада</h5>
                    <div class="slide-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </div>
                    <div class="slide-buttons">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="slide-box">
                    <div class="slide-img-box">
                        <img src="assets/img/slide-services-4.png" class="img-fluid" alt="services-variant">
                    </div>
                    <h5 class="slide-title">Перевод денежных средств</h5>
                    <div class="slide-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </div>
                    <div class="slide-buttons">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>